<div class="pageContent">
    <div class="container">
        <h1>NHS Choices User Interface Toolkit</h1>
        <div class="row">
            <div class="col-sm-8">
                <%- partial('_toolkit-intro') %>
            </div>
        </div>
        <hr></hr>
        <h2>Typography</h2>
        <%- partial('_components/toolkit-thing', {
            title: 'Paragraph',
            intro: 'The base paragraph font size is 18px.',
            component: 'typography-paragraph'
        }) %>
        <%- partial('_components/toolkit-thing', {
            title: 'Headings',
            component: 'typography-headings',
            code: true
        }) %>
        <%- partial('_components/toolkit-thing', {
            title: 'Lists',
            component: 'typography-lists'
        }) %>
        <%- partial('_components/toolkit-thing', {
            title: 'Links',
            component: 'typography-links'
        }) %>
        <%- partial('_components/toolkit-thing', {
            title: 'Horizontal rule',
            component: 'typography-hr'
        }) %>
        <h2>Colour</h2>
        <%- partial('_components/toolkit-thing', {
            title: 'Palette',
            component: 'colour-palette'
        }) %>
        <h2>Components</h2>
        <h3><a href="/tasks.html">Homepage task panels</a> | <a href="/tasks.html?blue">blue</a> | <a href="/tasks.html?white&taskwhite">white</a> | <a href="/tasks.html?taskmulti">multicolour</a></h3>
</div>
</div>
